@use "mixins" as *;

* {
    box-sizing: border-box;
    font-variant-ligatures: none;
}

html, body, #synthetic-body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

#synthetic-body {
    font-size: 1.5em;
    background-color: #000;
    background-image: radial-gradient(ellipse, #000 0%, var(--atmosphere) 100%);
    background-repeat: repeat-y;
}

#synthetic-body {
    &.theme-0 {
        &, & a, & textarea {
            color: #5bf870;
            --atmosphere: #05321e9c;
            --border-color: #00ee00aa;
            --secret-fg: black;
            --secret-bg: white;
            --sb-track-color: #0a2719;
            --sb-thumb-color: #65ca6c;
        }
    }

    &.theme-1 {
        &, & a, & textarea {
            color: #ff8622;
            --atmosphere: #321b059c;
            --border-color: #ee7f00aa;
            --secret-fg: black;
            --secret-bg: white;
            --sb-track-color: #27160a;
            --sb-thumb-color: #d4804f;
        }
    }

    &.theme-2 {
        &, & a, & textarea {
            color: #d1d1d1;
            --atmosphere: #2629289c;
            --border-color: #f0f0f0aa;
            --secret-fg: black;
            --secret-bg: white;
            --sb-track-color: #292929;
            --sb-thumb-color: #999999;
        }
    }
}

body, textarea, a {
    font-family: var(--vt323);
}

#app-root {
    width: 100%;
    height: 100%;
    padding: 3em 2em;

    @include sm {
        padding: 3em 6em;
    }

    &.crt {
        filter: url(#bloom) url(#crt);
    }

    &.load-crt {
        filter: url(#crt) url(#bloom) url(#crt) blur(4px);
    }
}

#app {
    padding-bottom: 4em;
}

header {
    margin-bottom: 2em;

    h1 {
        font-size: 1em;
        font-weight: normal;
    }

    .initial-prompt {
        padding-left: 1em;
        border-left: 4px solid var(--border-color);
    }
}

footer {
    @include flex-col;
    margin-top: 2em;
    gap: 6px;
}

.term-input {
    width: 100%;
    display: flex;
    gap: .5em;

    textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        resize: none;
        outline: none;
        padding: 0;
        font-size: 1em;
        field-sizing: content;
        caret-shape: block; // not supported by any browsers for now, but a man can dream...
    }
}

.message {
    @include flex-col;
    gap: 16px;
    padding: 1em 0;

    .user, .bot {
        width: 100%;
    }

    .user {
        text-align: right;
        padding-left: 3em;

        @include sm {
            padding-left: 6em;
        }
    }

    .bot {
        display: flex;
        align-items: center;
        gap: 1em;
        padding-right: 3em;

        @include sm {
            padding-right: 6em;
        }

        img {
            user-select: none;
            pointer-events: none;
        }
    }

    .user::before {
        content: "> ";
    }

    .typing {
        animation: cursor-blink 1.5s steps(2) infinite;
        font-size: .75em;

        @keyframes cursor-blink {
            0% { opacity: 0; }
        }
    }

    .secret-phrase {
        background-color: var(--secret-bg);
        color: var(--secret-fg);
        padding: 0 .25em;
    }

    &.system {
        padding-left: 1em;
        border-left: 4px solid var(--border-color);

        .bot {
            flex-direction: column;
            align-items: start;
        }
    }
}

#header-top {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
    flex-direction: column;
    
    @include md {
        flex-direction: row;
    }

    #main-nav {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        @include md {
            flex-direction: row;

            > div:not(:last-child)::after {
                content: " |";
            }
        }

        > div {
            text-wrap: nowrap;
        }
    }    
}

#synthetic-body {
    $sb-size: 12px;

    &::-webkit-scrollbar {
        width: $sb-size;
    }

    &::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 0px;
    }

    @supports not selector(::-webkit-scrollbar) {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.filter-loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(2) blur(4px);
    z-index: 10;
}
